img {
    width: 650px;
    height: 450px;
    border-radius: 150px;
}
body{
    background: #fff700;
} 
h1{
    color: #00ffbb;
    font-size: 50px;
} 
p{
    color: fuchsia;
    font-size: 25px;
}
 a{
    text-decoration: none; 
  color: #ff0000;
} 
button{
    background: #00ff22;
    border-radius: 6px;
}
